/* aqui vemos e cuadro purpura, separados por extremos y  envueltos para se alinen los bloques para abajo  */
/* .padre-1 {
    border: 1px solid purple;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */

/* aki esta el tamaño de los cuadritos dentro */
/* .padre-1 div {
    border: 1px solid lightgray;
    padding: 100px;
    font-size: 20px;
} */
/* inicio ,esta combinacion forma  la caja */
header {
    border: 1px solid lightgray;
    text-align: center;
}

.padre-2 {
    border: 1px solid lightgray;
    padding: 0px 0px 50px 0px;

}

.padre-2 h4 {
    text-align: center;
}

footer {
    border: 1px solid lightgray;
    text-align: center;

}


@media (min-width:768px) {
    .padre-2 {
        display: flex;
    }
    footer{
        display: flex;
        justify-content: space-between;
    }
}